.feed {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 4px 24px;
}

@media (max-width: 1024px) {
    .feed {
        width: 100vw;
    }
  }