.wrapper-input{
    padding: 12px 12px;
    margin: 0 10px;
    border-radius: 12px;
    background-color: #eff2f5;
    margin-bottom: 12px;
}

.input-root {
    outline-width: 0;
    border: none;
    background-color: #eff2f5;
    resize: none;
    margin-left: 12px;
}
